<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="layout/layout">
	  
<head>
    <meta charset="UTF-8">
    <title>질문 등록</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css"></link>
</head>

<th:block layout:fragment="content">

<script type="text/javascript">

window.onload = function() {
	
	//질문 조회 화면 실행시 실행되는 함수
	onload_qnaView();
	
	//목록 버튼 이벤트
	var btnGoList = document.querySelector('#btnGoList'); 
	btnGoList.addEventListener("click", function(e){
			fn_goQnaList();
	});
	
	//수정 버튼 이벤트
	var btnGoUpdate = document.querySelector('#btnGoUpdate'); 
	btnGoUpdate.addEventListener("click", function(e){
			fn_goQnaUpdate();
	});
	
	//상태값 변경버튼(상담사지정) 이벤트
	var btnChangeStatus = document.querySelector('#btnChangeStatus'); 
	btnChangeStatus.addEventListener("click", function(e){
			fn_changeStatus();
	});
	
	//답변등록 버튼
	var btnGoInsert = document.querySelector('#btnGoInsert'); 
	btnGoInsert.addEventListener("click", function(e){
			fn_goQnaUpdate();
	});
	
}

function fn_goQnaList(){
	var frm = document.querySelector('#frmQnaView'); 
	frm.action = "/adm/qna/list";
	frm.method = "GET";
	frm.submit();
}

function fn_goQnaUpdate(){
	var frm = document.querySelector('#frmQnaView'); 
	frm.action = "/adm/qna/insert";
	frm.method = "GET";
	frm.submit();
}

function fn_changeStatus(){
	if (!confirm("본인을 상담사로 지정하시겠습니까?")) {
        return;
    } 
    
	var frm = document.querySelector('#frmQnaView');
	frm.status.value = "200";
	
	var xhr = new XMLHttpRequest();
	
	//요청을 보낼 방식, 주소, 비동기여부 설정
	xhr.open('POST', '/adm/qna/updateToStatus', true);
	
	xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
	//요청 전송
	console.log(frm.seq.value);
	xhr.send('status=200&seq='+parseFloat(frm.seq.value));
	
	//통신후 작업
	xhr.onload = () => {
		//통신 성공
		if (xhr.status == 200) {
			console.log(JSON.parse(xhr.response).result);
			if(JSON.parse(xhr.response).result > 0){
				alert("할당되었습니다.");
				location.href = location.href;
			}else{
				alert("이미 할당된 질문입니다.");
			}
		} else {
			//통신 실패
			console.log("통신 실패");
		}
	}
}

function onload_qnaView(){
	
	var frm = document.querySelector('#frmQnaView'); 
	
	var status = frm.querySelector("#status").value;
	
	frm.querySelector("#btnChangeStatus").style.display = "none"; //'상담사 등록 버튼 숨기기'
	frm.querySelector("#ansQnaTable").style.display = "none";
	frm.querySelector("#btnGoUpdate").style.display = "none";
	frm.querySelector("#btnGoInsert").style.display = "none";
	
	if(status == '100'){ //상태값 미할당인 경우
	
		frm.querySelector("#btnChangeStatus").style.display = "";
	
	}else if(status == '200'){ //상태값 상담사 할당인 경우
	
		frm.querySelector("#ansQnaTable").style.display = "";
		frm.querySelector("#btnGoInsert").style.display = "";
	}else{
		frm.querySelector("#ansQnaTable").style.display = "";
		frm.querySelector("#btnGoUpdate").style.display = "";
	}
}
</script>

<div class="container">
    <h2>답변하기 조회</h2>
    <form id="frmQnaView" name="frmQnaView" method="get" action="/qna/insert">
    
    	<button type="button" id="btnChangeStatus" class="btn" style="display:none">상담사 등록</button>
    	
    	<input type="hidden" id="ansUserId" name="ansUserId" th:value="${#authentication.name}">
    	<input type="hidden" name="status" id="status" th:value="${qnaData.status}">
    	<input type="hidden" name="seq" id="seq" th:value="${qnaData.seq}">
        <table class="board_detail">
        	<colgroup>
                <col width="15%"/>
                <col width="35%"/>
                <col width="10%"/>
                <col width="24%"/>
                <col width="8%"/>
                <col width="8%"/>
            </colgroup>
        	<tr>
                <td>문의자 ID</td>
                <td th:text="${qnaData.queUserId}"></td>
                <td>등록 시간</td>
                <td th:text="${#temporals.format(qnaData.queDate, 'yyyy-MM-dd HH:mm')}"></td>
                <td>상태</td>
                <td>
                	<span th:if="${qnaData.getStatus().toString().equals('100')}">미할당</span>
					<span th:if="${qnaData.getStatus().toString().equals('200')}">할당됨</span>
					<span th:if="${qnaData.getStatus().toString().equals('300')}">답변완료</span>
                </td>
            </tr>
            <tr>
                <td>제목</td>
                <td colspan="5" th:text="${qnaData.queTitle}"></td>
            </tr>
            <tr>
            	<td>내용</td>
                <td colspan="5" >
                	<pre th:text="${qnaData.queContent}"></pre>
                </td>
            </tr>
        </table>
        
        <table class="board_detail" id="ansQnaTable" style="display:none">
        	<colgroup>
                <col width="15%"/>
                <col width="35%"/>
                <col width="15%"/>
                <col width="35%"/>
            </colgroup>
        	<tr>
                <td>상담사</td>
                <td th:text="${qnaData.ansUserId}"></td>
                <td>답변 일시</td>
                <td>
                	<span th:if="${qnaData?.status} == '300'" th:text="${#temporals.format(qnaData.ansDate, 'yyyy-MM-dd HH:mm')}"></span>
                </td>
            </tr>
            <tr>
            	<td>답변 내용</td>
                <td colspan="3">
                	<pre th:text="${qnaData.ansContent}"></pre>
                </td>
            </tr>
        </table>
        
        <button type="button" id="btnGoInsert" class="btn" style="display:none">답변등록</button>
        <button type="button" id="btnGoUpdate" class="btn" style="display:none">수정</button>
        <button type="button" id="btnGoList" class="btn">목록</button>
    </form>
</div>

</th:block>
</html>