<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>질문 등록</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css"></link>
</head>

<script type="text/javascript">

window.onload = function() {
	
	//목록 버튼 이벤트
	var btnGoList = document.querySelector('#btnGoList'); 
	btnGoList.addEventListener("click", function(e){
			fn_goQnaList();
	});
	
	//저장 버튼 이벤트
	var btnQnaSave = document.querySelector('#btnQnaSave'); 
	btnQnaSave.addEventListener("click", function(e){
			fn_goQnaSave();
	});
	
}

function fn_goQnaList(){
	var frm = document.querySelector('#frmQnaInsert'); 
	frm.action = "/adm/qna/list";
	frm.method = "GET";
	frm.submit();
}

function fn_goQnaSave(){
	var frm = document.querySelector('#frmQnaInsert'); 
	frm.action = "/adm/qna/insert";
	frm.method = "POST";
	frm.submit();
}
</script>

<body>
    <div class="container">
        <h2>질문 등록</h2>
        <form id="frmQnaInsert" name="frm" method="post" action="/qna/insert">
        	<input type="hidden" name="status" value="wait">
        	<input type="hidden" name="seq" th:value="${qnaData?.seq}">
            <table class="board_detail">
            	<tr>
                    <td>이메일</td>
                    <td>
                    	<input type="text" th:if="${#strings.isEmpty(qnaData?.seq)} "id="queEmail" name="queEmail" th:value="${qnaData?.queEmail}">
                    	<input type="text" th:unless="${#strings.isEmpty(qnaData?.seq)} "id="queEmail" name="queEmail" th:value="${qnaData?.queEmail}" readonly="true">
                    </td>
                </tr>
                <tr>
                    <td>제목</td>
                    <td><input type="text" id="queTitle" name="queTitle" th:value="${qnaData?.queTitle}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea id="queContent" name="queContent" th:text="${qnaData?.queContent}"></textarea>
                    </td>
                </tr>
            </table>
            <button type="button" id="btnQnaSave" class="btn">저장</button>
            <button type="button" id="btnGoList" class="btn">목록</button>
        </form>
    </div>
</body>
</html>