<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>질문 등록</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css"></link>
</head>

<th:block layout:fragment="content">

<script type="text/javascript">

window.onload = function() {
	
	//상태값이 100:대기중 이 아니면 수정할 수 없으로 뒤로가기
	
	//목록 버튼 이벤트
	var btnGoList = document.querySelector('#btnGoList'); 
	btnGoList.addEventListener("click", function(e){
			fn_goQnaList();
	});
	
	//저장 버튼 이벤트
	var btnQnaSave = document.querySelector('#btnQnaSave'); 
	btnQnaSave.addEventListener("click", function(e){
			fn_qnaSave();
	});
	
}

function fn_goQnaList(){
	var frm = document.querySelector('#frmQnaInsert'); 
	frm.action = "/qna/list";
	frm.method = "GET";
	frm.submit();
}

function fn_qnaSave(){
	var frm = document.querySelector('#frmQnaInsert'); 
	
	var errorElm = null;
	
	//필수값 체크 beak기능을 쓰기위해 try catch 적용
	try{
		frm.querySelectorAll("input").forEach(function(elm){
			if(elm.getAttribute("type") != "hidden" && elm.getAttribute("required") == "true"){
				if(elm.value == ''){
					errorElm = elm;
					throw new Error("");
				}
			}
		});
	} catch(e) {
		
	}
	
	if(errorElm){
		alert("필수값을 입력해주세요");
		errorElm.focus();
		
		return;
	} 
	
	frm.querySelector("#status").value = "100"; //기본 상태값(status) 100:대기중
	frm.action = "/qna/insert";
	frm.method = "POST";
	frm.submit();
}
</script>

<div class="container">
    <h2>질문 등록</h2>
    <form id="frmQnaInsert" name="frm" method="post" action="/qna/insert">
    	<input type="hidden" name="seq" th:value="${qnaData?.seq}">
    	<input type="hidden" name="status" id="status" th:value="${qnaData?.status}">
        <table class="board_detail">
        	<tr>
                <td>작성자ID</td>
                <td>
                	<input type="text" th:if="${#strings.isEmpty(qnaData?.queUserId)}" id="queUserId" name="queUserId" th:value="${#authentication.name}" required="true" readonly="true">
                	<input type="text" th:unless="${#strings.isEmpty(qnaData?.queUserId)}" id="queUserId" name="queUserId" th:value="${qnaData.queUserId}" required="true" readonly="true">
                </td>
            </tr>
            <tr>
                <td>제목</td>
                <td><input type="text" id="queTitle" name="queTitle" th:value="${qnaData?.queTitle}" required="true"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea id="queContent" name="queContent" th:text="${qnaData?.queContent}"></textarea>
                </td>
            </tr>
        </table>
        <button type="button" id="btnQnaSave" class="btn">저장</button>
        <button type="button" id="btnGoList" class="btn">목록</button>
    </form>
</div>
</th:block>
</html>