<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="layout/layout">
	  
<th:block layout:fragment="content">

<script th:inline="javascript">
	
	function fnSubmit() {
		var frm = document.querySelector('#frmLogin'); 
		frm.action = "/login/action";
		frm.method = "POST";
		frm.submit();
    }
	
</script>

<div class="container">
	<h2>로그인</h2>
	<form id="frmLogin" name="frmLogin">
		<table class="board_detail">
		 	<tr th:if="${param.error}">
		        <td th:text="${exception}" class="alert alert-danger"></td>
		    </tr>
	        <tr>
	        	<td>
	            	<input id="username" name="username" type="text"/>
	            </td>
	        </tr>
	        <tr>
	        	<td>
	            	<input id="password" name="password" type="password"/>
	        	</td>
	        </tr>
		</table>
		<a class="btn" href="javascript:fnSubmit();">Login</a>
	</form>
</div>

</th:block>
</html>